go 1.24.0

use (
	./gateway/graphql-bff
	./packages/cornerstone
	./packages/proto
	./services/ai-service
	./services/analytics-service
	./services/auth-service
	./services/bot-service
	./services/communication-service
	./services/document-service
	./services/industry-service
	./services/notification-service
	./services/organization-service
	./services/policy-service
	./services/user-service
	./services/webhook-service
	./services/worker-service
)
